<!--File: base.html-->
<!--Author: Nathan Moges (bmoges18@bu.edu) 10/31/25-->
<!--Description: This file base.html will extend 
header and footer to the rest of the pages-->

{% load static %}
<html>
    <head>
        <title>Newton Voters</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <header>
            <h1>Marathon Analytics</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                </ul>
 
            </nav>
        </header>
    
    {% block content %}
    {% endblock %}    
  
    </body>
</html>