{% extends 'hw/base.html' %}

{% block content %}
    <h1>About this page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit sint officia nisi velit voluptate laboriosam fugit, similique libero molestias excepturi obcaecati quia fuga vel illo repellat distinctio! Blanditiis, ipsa excepturi!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde ex laboriosam in temporibus debitis exercitationem quibusdam expedita sit fugiat? Consequuntur amet beatae fugit sed quos, earum animi pariatur modi quisquam.</p>
{% endblock %}