<!-- File: about.html.py-->
<!--Author: Nathan Moges (bmoges18@bu.edu), 9/12/2025-->
<!--Description: This is my about.html file which is an extension of the base.html file so it has all the things that I mentioned in the file.
The content of the file is a description of the character and the show itself. 
-->

{% extends 'quotes/base.html' %}

{% block content %}
    <h1>Monkey D. Luffy Quote of the Day</h1>
        <h2>Welcome!</h2>>
        <p>Welcome to the Quote of the Day application!</p>
        <p> This application shows different quotes and images from Monkey D. Luffy.</p>
        <p>Monkey D. Luffy is a fictional character from the anime One Piece. 
            He is the captain of the Straw Hat Pirates with nine other members on his ship. </p>
{% endblock %}