<!--File: mini_insta/create_post_form.html-->
<!--Author: Nathan Moges (bmoges18@bu.edu) 10/3/25-->
<!--Description: Display the HTML form to create a new post on a Post object.-->
 {% extends 'mini_insta/base.html' %}

 {% block content %}
 
 <!--Display thr HTML Form-->
 <form method="POST" action="{% url 'create_post' profile.pk %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_table }}<br><br>
    <label for="files">Select Photos:</label>
    <input type="file" id="files" name="files" multiple><br><br>
    <button type="submit">Post</button>
    <a href="{% url 'show_profile' profile.pk %}">
        <button type="button">Cancel</button>
    </a>
</form>
 {% endblock %}