<!--File: show_all_profiles.html-->
<!--Author: Nathan Moges (bmoges18@bu.edu) 9/26/25-->
<!--Description: This file gets its base layout from base.html and it 
displays all the images of the users of the web page and if you click 
on the image it will take you to their individual pages.-->

{% extends "mini_insta/base.html" %}

{% block content %}

<main class="grid-container">
    {% for profile in profiles %}
    <article>
        <div>
            <a href="{% url 'show_profile' profile.pk %}">
            <img src="{{profile.profile_image_url}}" alt="{{profile.display_name}}">
            </a>
        </div>
    </article>
    <hr>
    {% endfor %}
</main>
{% endblock %}

