<!--File: show_post.html-->
<!--Author: Nathan Moges (bmoges18@bu.edu) 10/3/25-->
<!--Description: his file gets its base layout from base.html and it displays
the caption and timestamp of the individual posts of a profile-->

{% extends "mini_insta/base.html" %}

{% block content %}
<h1>Post by {{ post.profile.display_name }} ({{ post.profile.username }})</h1>

<div class="post-detail">
    <p><strong>Caption:</strong> {{ post.caption }}</p>
    <p><strong>Posted at:</strong> {{ post.timestamp }}</p>
    <a href="{% url 'update_post' post.pk %}">
        <button type="button">Update Post</button>
    </a>
    <a href="{% url 'delete_post' post.pk %}">
        <button type="button">Delete Post</button>
    </a>
</div>

<h2>Photos</h2>
<div class="posts-grid">
    {% for photo in post.get_all_photos %}
        <div class="post-card">
                {% if photo.get_image_url %}
                    <img class="post-photo" src="{{ photo.get_image_url }}" alt="Post photo">
                {% else %}
                    <img class="post-photo" src="https://thumb.ac-illust.com/b1/b170870007dfa419295d949814474ab2_t.jpeg" alt="No image">
                {% endif %}
            <p>{{ post.caption }}</p>
            <small>Posted at {{ post.timestamp }}</small>
        </div>
    {% endfor %}
</div>
{% endblock %}