<!--File: show_profile.html-->
<!--Author: Nathan Moges (bmoges18@bu.edu) 10/3/25-->
<!--Description: This file gets its base layout from base.html and it displays an individuals 
profile with their username, display name, bio, and their join date-->

{% extends 'mini_insta/base.html' %}

{% block content %}
<h1>{{profile.username}}</h1>
<p>{{profile.display_name}}</p>
<p>{{profile.bio_text}}</p>
<p>{{profile.join_date}}</p>
<a href="{% url 'update_profile' profile.pk %}">
    <button type="button">Update</button>
</a>

<p>
    <a href="{% url 'show_followers' profile.pk %}">
        Followers: {{ profile.get_num_followers }}
    </a> |
    <a href="{% url 'show_following' profile.pk %}">
        Following: {{ profile.get_num_following }}
    </a>
</p>

<main class="grid-container">
    <div>
        <img src="{{ profile.profile_image_url }}" alt="{{ profile.display_name }}">
    </div>

    <h2>Posts</h2>

    <div class="posts-grid">
        {% for post in profile.get_all_posts %}
            {% with post.get_all_photos.first as first_photo %}
                {% if first_photo %}
                    <a href="{% url 'show_post' post.pk %}">
                        <img class="post-photo" src="{{ first_photo.get_image_url }}" alt="Post photo">
                    </a>
                {% else %}
                    <a href="{% url 'show_post' post.pk %}">
                        <img class="post-photo" src="https://thumb.ac-illust.com/b1/b170870007dfa419295d949814474ab2_t.jpeg" alt="No image">
                    </a>
                {% endif %}
            {% endwith%}
            <div class="post-card">
                <p>{{ post.caption }}</p>
                <small>Posted at {{ post.timestamp }}</small>
            </div>
        {% endfor %}
    </div>
</main>
{% endblock %}

