<!--File: show_followers.html-->
<!--Author: Nathan Moges (bmoges18@bu.edu) 10/16/25-->
<!--Description: This is the show_followers page where it shows the user's followers-->
{% extends "mini_insta/base.html" %}

{% block content %}
  <h2>Followers of {{ profile.display_name }} (@{{ profile.username }})</h2>
    <ul>
      {% for follower in profile.get_followers %}
        <li>
          <a href="{{ follower.get_absolute_url }}">
            {{ follower.display_name }} (@{{ follower.username }})
          </a>
        </li>
    </ul>
  {% empty %}
    <p>No followers yet.</p>
    {% endfor %}
{% endblock %}