<!--File: update_profile_form.html-->
<!--Author: Nathan Moges (bmoges18@bu.edu) 10/10/25-->
<!--Description: This file gets its base layout from base.html and it displays the HTML form to update a Profile object.-->

 {% extends 'mini_insta/base.html' %}

 {% block content %}
 
 <!--Display thr HTML Form-->
 <h1>Update this Profile</h1>
 <form action="{% url 'update_profile' %}" method="POST"
     enctype="multipart/form-data">
     {% csrf_token %}
     <table> {{form.as_table}} </table>
     <input type="submit" name="submit" value="Update">
 </form>
 
 <form action="{% url 'show_profile' profile.pk %}" method="GET">
     
     <input type="submit" value="Cancel">
 </form>
 {% endif %}
 {% endblock %}